# Sensitive
.credentials*

# Temp Nix stuff
result

# numtide/devshells
.direnv/

# cachix/git-hooks.nix
.pre-commit-config.yaml

# Terraform
.terraform.lock.hcl
.terraform/
config.tf.json
terraform.tfstate
terraform.tfstate.backup
